In [4]:
import pickle# для манипуляц со словариком пикл
import numpy as np
import pandas as pd
#from tqdm import tqdm_notebook
from scipy.sparse import csr_matrix, hstack # добавит новый столбец не разряженный к разряженной матрице
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

In [18]:
pip install IPyton

Collecting IPyton
Note: you may need to restart the kernel to use updated packages.

  ERROR: Could not find a version that satisfies the requirement IPyton (from versions: none)
ERROR: No matching distribution found for IPyton
WARNING: You are using pip version 19.1.1, however version 19.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [5]:
# загрузим обучающую и тестовую выборки
train_df = pd.read_csv('./train_sessions.csv',
                       index_col='session_id')
test_df = pd.read_csv('./test_sessions.csv',
                      index_col='session_id')

# приведем колонки time1, ..., time10 к временному формату
times = ['time%s' % i for i in range(1, 11)]
#print(train_df[times])

train_df[times] = train_df[times].apply(pd.to_datetime).fillna(0)# приведет к формату даты Data Frame можно указать при загрузке файла!!
test_df[times] = test_df[times].apply(pd.to_datetime).fillna(0)

# отсортируем данные по времени
train_df = train_df.sort_values(by='time1')

# посмотрим на заголовок обучающей выборки

In [460]:
train_df['time1'].apply(lambda ts: ts.hour)
trrr = train_df['time2'].apply(lambda t: t.date)
trr2 = train_df['time1']
#print(train_df.time1,' --- ' , train_df.time2)
print(trrr, trr2)

AttributeError: 'int' object has no attribute 'date'

In [6]:
# приведем колонки site1, ..., site10 к целочисленному формату и заменим пропуски нулями
sites = ['site%s' % i for i in range(1, 11)]# список генерир с 1 по 10 имен site1 ид

train_df[sites] = train_df[sites].fillna(0).astype('int')#.to_csv('train_text.txt', sep=' ',index = None,header=None)# забиваем пустые значения нолями
test_df[sites] =   test_df[sites].fillna(0).astype('int')#.to_csv('test_text.txt', sep=' ',index = None, header=None)

# загрузим словарик сайтов
with open(r"./site_dic.pkl", "rb") as input_file:
    site_dict = pickle.load(input_file)
#'www.abmecatronique.com': 25075, 'groups.live.com': 13997,

# датафрейм словарика сайтов
sites_dict_df = pd.DataFrame(list(site_dict.keys()), # ['www.abmecatronique.com', 'groups.live.com', ...]
                          index=list(site_dict.values()), #[25075, 13997, 42436, 30911,]
                          columns=['site'])
print(u'всего сайтов:', sites_dict_df.shape[0])
sites_dict_df.head()# ДРУГОЙ DATA FRAME

всего сайтов: 48371

                                     site
25075              www.abmecatronique.com
13997                     groups.live.com
42436  majeureliguefootball.wordpress.com
30911           cdt46.media.tourinsoft.eu
8104                  www.hdwallpapers.eu

In [7]:
#['www.abmecatronique.com', 'groups.live.com', 
# наша целевая переменная
y_train = train_df['target'] # otveti

# объединенная таблица обуч и тестовой
full_df = pd.concat([train_df.drop('target', axis=1), test_df])# удаляем ответы и объединяем с тестовой выборкой 

# индекс, по которому будем отделять обучающую выборку от тестовой
idx_split = train_df.shape[0]
idx_split
full_df

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,site6,time6,site7,time7,site8,time8,site9,time9,site10,time10
session_id,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,0,0,0,0,0,0,0,0,0,0,0
77292,946,2013-01-12 08:50:13,946,2013-01-12 08:50:14,951,2013-01-12 08:50:15,946,2013-01-12 08:50:15,946,2013-01-12 08:50:16,945,2013-01-12 08:50:16,948,2013-01-12 08:50:16,784,2013-01-12 08:50:16,949,2013-01-12 08:50:17,946,2013-01-12 08:50:17
114021,945,2013-01-12 08:50:17,948,2013-01-12 08:50:17,949,2013-01-12 08:50:18,948,2013-01-12 08:50:18,945,2013-01-12 08:50:18,946,2013-01-12 08:50:18,947,2013-01-12 08:50:19,945,2013-01-12 08:50:19,946,2013-01-12 08:50:19,946,2013-01-12 08:50:20
146670,947,2013-01-12 08:50:20,950,2013-01-12 08:50:20,948,2013-01-12 08:50:20,947,2013-01-12 08:50:21,950,2013-01-12 08:50:21,952,2013-01-12 08:50:21,946,2013-01-12 08:50:21,951,2013-01-12 08:50:22,946,2013-01-12 08:50:22,947,2013-01-12 08:50:22
242171,952,2013-01-12 08:50:22,947,2013-01-12 08:50:23,953,2013-01-12 08:50:23,946,2013-01-12 08:50:23,947,2013-01-12 08:50:24,946,2013-01-12 08:50:24,953,2013-01-12 08:50:24,955,2013-01-12 08:50:24,946,2013-01-12 08:50:25,947,2013-01-12 08:50:25
57157,953,2013-01-12 08:50:25,947,2013-01-12 08:50:26,946,2013-01-12 08:50:26,953,2013-01-12 08:50:26,955,2013-01-12 08:50:26,947,2013-01-12 08:50:27,953,2013-01-12 08:50:27,946,2013-01-12 08:50:27,953,2013-01-12 08:50:28,1033,2013-01-12 08:50:28
240201,946,2013-01-12 08:50:28,947,2013-01-12 08:50:28,954,2013-01-12 08:50:28,953,2013-01-12 08:50:29,946,2013-01-12 08:50:29,954,2013-01-12 08:50:29,946,2013-01-12 08:50:30,956,2013-01-12 08:50:30,957,2013-01-12 08:50:31,956,2013-01-12 08:50:31
210686,946,2013-01-12 08:50:31,956,2013-01-12 08:50:32,946,2013-01-12 08:50:32,946,2013-01-12 08:50:33,955,2013-01-12 08:50:33,954,2013-01-12 08:50:33,946,2013-01-12 08:50:34,946,2013-01-12 08:50:35,946,2013-01-12 08:50:36,948,2013-01-12 08:50:36
98804,948,2013-01-12 08:50:37,946,2013-01-12 08:50:37,948,2013-01-12 08:50:38,784,2013-01-12 08:50:49,49,2013-01-12 08:50:59,53,2013-01-12 08:51:03,812,2013-01-12 08:51:03,982,2013-01-12 08:51:03,52,2013-01-12 08:51:03,52,2013-01-12 08:51:04
113494,52,2013-01-12 08:51:05,52,2013-01-12 08:51:27,52,2013-01-12 08:51:31,747,2013-01-12 08:51:32,747,2013-01-12 08:51:33,747,2013-01-12 08:51:34,23,2013-01-12 08:51:34,747,2013-01-12 08:51:35,568,2013-01-12 08:51:36,23,2013-01-12 08:51:36
223837,513,2013-01-12 08:51:36,1116,2013-01-12 08:51:36,747,2013-01-12 08:51:36,23,2013-01-12 08:51:37,747,2013-01-12 08:51:38,747,2013-01-12 08:51:39,29,2013-01-12 08:51:40,49,2013-01-12 08:51:59,52,2013-01-12 08:52:24,21,2013-01-12 08:52:26
145475,4222,2013-01-12 08:52:27,3358,2013-01-12 08:52:28,4222,2013-01-12 08:52:28,3356,2013-01-12 08:52:28,4222,2013-01-12 08:52:29,3870,2013-01-12 08:52:33,21,2013-01-12 08:52:33,3870,2013-01-12 08:52:34,3358,2013-01-12 08:52:42,21,2013-01-12 08:53:09
186633,38667,2013-01-12 08:53:09,181,2013-01-12 08:53:09,23,2013-01-12 08:53:09,181,2013-01-12 08:53:10,38667,2013-01-12 08:53:10,23,2013-01-12 08:53:10,182,2013-01-12 08:53:10,181,2013-01-12 08:53:11,38667,2013-01-12 08:53:11,55,2013-01-12 08:53:25
45193,56,2013-01-12 08:53:25,55,2013-01-12 08:53:26,679,2013-01-12 08:54:15,676,2013-01-12 08:54:15,814,2013-01-12 08:54:22,22,2013-01-12 08:54:23,39,2013-01-12 08:54:24,815,2013-01-12 08:54:26,752,2013-01-12 08:54:33,50,2013-01-12 08:54:57
102930,570,2013-01-12 08:55:10,23,2013-01-12 08:55:11,21,2013-01-12 08:55:16,3356,2013-01-12 08:55:23,48,2013-01-12 08:56:57,222,2013-01-12 09:00:57,570,2013-01-12 09:05:20,513,2013-01-12 09:11:28,1379,2013-01-12 09:11:31,21,2013-01-12 09:14:59
15789,820,2013-01-12 08:59:34,820,2013-01-12 08:59:36,980,2013-01-12 08:59:40,49,2013-01-12 09:00:05,56,2013-01-12 09:00:57,55,2013-01-12 09:00:57,49,2013-01-12 09:01:07,784,2013-01-12 09:04:21,222,2013-01-12 09:06:04,50,2013-01-12 09:08:04
205868,48,2013-01-12 09:10:04,56,2013-01-12 09:31:21,55,2013-01-12 09:31:21,55,2013-01-12 09:31:22,0,0,0,0,0,0,0,0,0,0,0,0
21102,5898,2013-01-12 09:14:59,5898,2013-01-12 09:15:00,5794,2013-01-12 09:15:29,21,2013-01-12 09:15:29,5794,2013-01-12 09:15:30,5794,2013-01-12 09:15:31,21,2013-01-12 09:15:37,182,2013-01-12 09:15:38,23,2013-01-12 09:15:38,181,2013-01-12 09:15:38
193454,2570,2013-01-12 09:15:38,2570,2013-01-12 09:15:39,21,2013-01-12 09:17:06,21,2013-01-12 09:17:07,1102,2013-01-12 09:17:07,1102,2013-01-12 09:17:09,23,2013-01-12 09:19:53,570,2013-01-12 09:19:55,707,2013-01-12 09:19:55,21,2013-01-12 09:19:55
252924,22,2013-01-12 09:20:03,39,2013-01-12 09:20:03,1102,2013-01-12 09:20:51,21,2013-01-12 09:20:51,1102,2013-01-12 09:20:52,1102,2013-01-12 09:20:53,1102,2013-01-12 09:20:54,21,2013-01-12 09:23:31,177,2013-01-12 09:23:31,175,2013-01-12 09:23:32
12713,177,2013-01-12 09:23:33,178,2013-01-12 09:23:33,175,2013-01-12 09:23:33,48,2013-01-12 09:23:33,21,2013-01-12 09:23:34,22,2013-01-12 09:23:48,176,2013-01-12 09:24:33,175,2013-01-12 09:24:33,177,2013-01-12 09:24:34,55,2013-01-12 09:25:03
182016,56,2013-01-12 09:25:03,55,2013-01-12 09:25:04,570,2013-01-12 09:27:53,570,2013-01-12 09:30:51,1038,2013-01-12 09:39:49,847,2013-01-12 09:39:49,22,2013-01-12 09:40:18,774,2013-01-12 09:40:18,570,2013-01-12 09:47:53,0,0
55750,56,2013-01-12 09:37:32,55,2013-01-12 09:37:32,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
237109,56,2013-01-12 09:56:03,55,2013-01-12 09:56:03,55,2013-01-12 09:56:04,1038,2013-01-12 10:00:20,52,2013-01-12 10:02:00,53,2013-01-12 10:02:01,21,2013-01-12 10:02:06,4277,2013-01-12 10:02:07,21,2013-01-12 10:02:07,4277,2013-01-12 10:02:08
120126,4277,2013-01-12 10:02:11,342,2013-01-12 10:02:11,733,2013-01-12 10:02:34,733,2013-01-12 10:02:35,733,2013-01-12 10:02:36,733,2013-01-12 10:02:37,733,2013-01-12 10:02:38,23,2013-01-12 10:02:38,733,2013-01-12 10:02:39,733,2013-01-12 10:02:41
140105,733,2013-01-12 10:02:46,49,2013-01-12 10:04:02,17232,2013-01-12 10:04:04,50,2013-01-12 10:04:04,48,2013-01-12 10:04:05,52,2013-01-12 10:04:48,23,2013-01-12 10:04:54,21,2013-01-12 10:05:07,989,2013-01-12 10:05:07,38,2013-01-12 10:05:08
129357,753,2013-01-12 10:05:08,532,2013-01-12 10:05:08,1020,2013-01-12 10:05:09,989,2013-01-12 10:05:09,1021,2013-01-12 10:05:09,1021,2013-01-12 10:05:10,48,2013-01-12 10:05:10,990,2013-01-12 10:05:11,544,2013-01-12 10:05:25,22,2013-01-12 10:05:31
136699,733,2013-01-12 10:05:32,733,2013-01-12 10:05:33,733,2013-01-12 10:05:36,733,2013-01-12 10:05:38,733,2013-01-12 10:05:41,733,2013-01-12 10:05:57,17232,2013-01-12 10:05:59,989,2013-01-12 10:06:00,17232,2013-01-12 10:06:00,21,2013-01-12 10:06:18
113189,38668,2013-01-12 10:06:19,733,2013-01-12 10:06:34,733,2013-01-12 10:06:35,733,2013-01-12 10:06:39,733,2013-01-12 10:06:40,733,2013-01-12 10:06:44,568,2013-01-12 10:07:04,21,2013-01-12 10:07:24,1126,2013-01-12 10:07:25,52,2013-01-12 10:07:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82768,1202,2014-05-16 15:46:49,1202,2014-05-16 15:46:51,1202,2014-05-16 15:47:37,1202,2014-05-16 15:47:38,302,2014-05-16 15:47:48,1220,2014-05-16 15:47:49,300,2014-05-16 15:47:49,302,2014-05-16 15:47:49,1222,2014-05-16 15:47:49,1221,2014-05-16 15:47:49
82769,883,2014-10-02 13:29:11,884,2014-10-02 13:29:11,5256,2014-10-02 13:29:11,5260,2014-10-02 13:29:12,0,0,0,0,0,0,0,0,0,0,0,0
82770,678,2014-05-28 17:01:59,775,2014-05-28 17:02:12,678,2014-05-28 17:02:53,775,2014-05-28 17:03:04,678,2014-05-28 17:03:44,775,2014-05-28 17:03:57,678,2014-05-28 17:04:36,775,2014-05-28 17:04:51,678,2014-05-28 17:05:32,775,2014-05-28 17:05:48
82771,23695,2014-11-02 10:51:02,23695,2014-11-02 10:51:04,23695,2014-11-02 10:51:06,23695,2014-11-02 10:51:11,23695,2014-11-02 10:51:13,23695,2014-11-02 10:51:15,23695,2014-11-02 10:51:17,23695,2014-11-02 10:51:19,23695,2014-11-02 10:51:22,23695,2014-11-02 10:51:24
82772,33,2014-06-01 14:05:35,5392,2014-06-01 14:05:35,35,2014-06-01 14:05:35,5392,2014-06-01 14:05:37,5403,2014-06-01 14:05:38,5392,2014-06-01 14:05:38,29,2014-06-01 14:05:38,5845,2014-06-01 14:05:38,1349,2014-06-01 14:05:41,22,2014-06-01 14:05:41
82773,270,2014-06-02 15:53:01,167,2014-06-02 15:53:02,167,2014-06-02 15:53:03,812,2014-06-02 15:53:03,167,2014-06-02 15:53:04,359,2014-06-02 15:53:04,39,2014-06-02 15:53:04,676,2014-06-02 15:53:05,812,2014-06-02 15:53:06,270,2014-06-02 15:53:09
82774,1102,2014-10-02 08:34:05,21,2014-10-02 08:36:02,22,2014-10-02 08:36:14,39,2014-10-02 08:36:15,5563,2014-10-02 08:38:12,56,2014-10-02 08:39:42,55,2014-10-02 08:39:42,570,2014-10-02 08:40:53,570,2014-10-02 08:46:27,18996,2014-10-02 08:48:12
82775,3393,2014-07-03 10:47:05,3393,2014-07-03 10:47:07,3393,2014-07-03 10:47:08,335,2014-07-03 10:47:10,29,2014-07-03 10:47:12,33,2014-07-03 10:47:12,30,2014-07-03 10:47:12,35,2014-07-03 10:47:12,29,2014-07-03 10:47:34,37,2014-07-03 10:47:42
82776,122,2014-05-03 09:33:35,134,2014-05-03 09:33:36,134,2014-05-03 09:33:37,132,2014-05-03 09:33:37,2428,2014-05-03 09:33:46,132,2014-05-03 09:33:47,140,2014-05-03 09:33:54,30,2014-05-03 09:33:55,29,2014-05-03 09:33:55,29,2014-05-03 09:33:57
82777,301,2014-05-22 10:22:08,48,2014-05-22 10:22:08,76,2014-05-22 10:22:09,32,2014-05-22 10:22:09,29,2014-05-22 10:22:09,33,2014-05-22 10:22:10,301,2014-05-22 10:22:10,75,2014-05-22 10:22:10,29,2014-05-22 10:22:12,301,2014-05-22 10:22:13
82778,1086,2014-06-01 15:59:21,1086,2014-06-01 15:59:23,1086,2014-06-01 15:59:25,269,2014-06-01 15:59:59,1086,2014-06-01 16:01:18,6,2014-06-01 16:03:10,4954,2014-06-01 16:03:45,14906,2014-06-01 16:03:45,35,2014-06-01 16:03:46,29,2014-06-01 16:03:46
82779,300,2014-05-19 14:09:38,300,2014-05-19 14:09:41,302,2014-05-19 14:09:51,302,2014-05-19 14:09:52,302,2014-05-19 14:09:53,300,2014-05-19 14:09:53,302,2014-05-19 14:09:55,302,2014-05-19 14:09:56,1202,2014-05-19 14:09:56,300,2014-05-19 14:09:56
82780,66,2014-07-05 08:34:08,63,2014-07-05 08:34:08,21,2014-07-05 08:34:15,21,2014-07-05 08:34:16,23,2014-07-05 08:34:18,21,2014-07-05 08:34:19,22,2014-07-05 08:34:19,23,2014-07-05 08:34:19,21,2014-07-05 08:34:31,21,2014-07-05 08:34:33
82781,3996,2014-07-04 17:05:53,3413,2014-07-04 17:05:53,3996,2014-07-04 17:05:54,3605,2014-07-04 17:05:54,3324,2014-07-04 17:05:54,3322,2014-07-04 17:05:54,3606,2014-07-04 17:05:54,3607,2014-07-04 17:05:54,3996,2014-07-04 17:05:55,3606,2014-07-04 17:05:56
82782,32,2014-08-02 10:11:06,30,2014-08-02 10:11:06,33,2014-08-02 10:11:07,44651,2014-08-02 10:11:07,22,2014-08-02 10:11:07,29,2014-08-02 10:11:07,35,2014-08-02 10:11:07,44651,2014-08-02 10:11:12,44651,2014-08-02 10:11:18,44651,2014-08-02 10:11:24
82783,747,2014-05-25 16:43:32,38,2014-05-25 16:43:32,23,2014-05-25 16:43:33,513,2014-05-25 16:43:33,747,2014-05-25 16:43:33,747,2014-05-25 16:43:34,23,2014-05-25 16:43:34,749,2014-05-25 16:43:34,747,2014-05-25 16:43:35,52,2014-05-25 16:43:35
82784,5598,2014-05-02 11:03:37,5598,2014-05-02 11:03:38,5598,2014-05-02 11:03:39,5598,2014-05-02 11:03:40,5598,2014-05-02 11:03:41,5598,2014-05-02 11:03:44,5598,2014-05-02 11:03:49,984,2014-05-02 11:03:56,5598,2014-05-02 11:03:56,5598,2014-05-02 11:03:57
82785,22,2014-06-02 12:25:22,814,2014-06-02 12:25:22,570,2014-06-02 12:25:22,812,2014-06-02 12:25:22,23,2014-06-02 12:25:22,677,2014-06-02 12:25:22,677,2014-06-02 12:25:23,812,2014-06-02 12:25:23,570,2014-06-02 12:25:23,1039,2014-06-02 12:25:23
82786,786,2014-07-04 10:38:09,786,2014-07-04 10:38:13,782,2014-07-04 10:38:31,786,2014-07-04 10:38:32,782,2014-07-04 10:38:37,786,2014-07-04 10:38:39,786,2014-07-04 10:38:40,782,2014-07-04 10:39:01,782,2014-07-04 10:39:07,23,2014-07-04 10:39:08
82787,6801,2014-11-02 08:44:53,6801,2014-11-02 08:45:05,22,2014-11-02 08:45:08,23,2014-11-02 08:45:08,812,2014-11-02 08:45:12,6801,2014-11-02 08:45:18,39,2014-11-02 08:45:23,6801,2014-11-02 08:45:23,22,2014-11-02 08:45:26,6801,2014-11-02 08:45:26
82788,69,2014-12-05 12:10:09,67,2014-12-05 12:10:09,301,2014-12-05 12:10:28,301,2014-12-05 12:10:37,21,2014-12-05 12:10:49,21,2014-12-05 12:10:57,21,2014-12-05 12:11:04,21,2014-12-05 12:11:22,21,2014-12-05 12:11:23,22,2014-12-05 12:11:23
82789,30,2014-08-04 17:03:46,19394,2014-08-04 17:03:46,33,2014-08-04 17:03:46,19386,2014-08-04 17:03:46,19396,2014-08-04 17:03:46,19396,2014-08-04 17:03:47,19386,2014-08-04 17:03:47,19386,2014-08-04 17:03:48,19402,2014-08-04 17:03:48,22,2014-08-04 17:03:48
82790,167,2014-10-02 13:32:46,359,2014-10-02 13:32:46,167,2014-10-02 13:32:47,204,2014-10-02 13:32:47,3,2014-10-02 13:32:47,811,2014-10-02 13:32:47,203,2014-10-02 13:32:47,884,2014-10-02 13:32:48,5256,2014-10-02 13:32:48,883,2014-10-02 13:32:48
82791,677,2014-05-03 15:59:57,774,2014-05-03 16:05:02,677,2014-05-03 16:05:52,616,2014-05-03 16:06:59,570,2014-05-03 16:08:52,677,2014-05-03 16:11:52,616,2014-05-03 16:15:06,677,2014-05-03 16:17:52,570,2014-05-03 16:18:04,677,2014-05-03 16:23:53
82792,63,2014-05-27 12:37:09,3346,2014-05-27 12:40:43,167,2014-05-27 12:41:04,3,2014-05-27 12:41:12,167,2014-05-27 12:41:14,45064,2014-05-27 12:41:14,45065,2014-05-27 12:41:14,384,2014-05-27 12:41:14,23,2014-05-27 12:41:31,3346,2014-05-27 12:41:43
82793,812,2014-10-02 18:20:09,1039,2014-10-02 18:20:09,676,2014-10-02 18:20:09,0,0,0,0,0,0,0,0,0,0,0,0,0,0
82794,300,2014-05-26 14:16:40,302,2014-05-26 14:16:41,302,2014-05-26 14:16:44,300,2014-05-26 14:16:44,300,2014-05-26 14:17:19,1222,2014-05-26 14:17:19,302,2014-05-26 14:17:19,1218,2014-05-26 14:17:19,1221,2014-05-26 14:17:19,1216,2014-05-26 14:17:19
82795,29,2014-05-02 11:21:56,33,2014-05-02 11:21:56,35,2014-05-02 11:21:56,22,2014-05-02 11:22:03,37,2014-05-02 11:22:03,6779,2014-05-02 11:22:03,30,2014-05-02 11:22:03,21,2014-05-02 11:22:04,23,2014-05-02 11:22:04,6780,2014-05-02 11:22:04
82796,5828,2014-05-03 10:05:25,23,2014-05-03 10:05:27,21,2014-05-03 10:05:27,804,2014-05-03 10:05:27,21,2014-05-03 10:05:36,3350,2014-05-03 10:05:37,23,2014-05-03 10:05:37,894,2014-05-03 10:05:38,21,2014-05-03 10:05:38,961,2014-05-03 10:05:38
82797,21,2014-11-02 10:46:57,1098,2014-11-02 10:46:57,1098,2014-11-02 10:46:58,1098,2014-11-02 10:47:12,1098,2014-11-02 10:47:13,1098,2014-11-02 10:47:14,1098,2014-11-02 10:47:15,1098,2014-11-02 10:47:18,1098,2014-11-02 10:47:42,1098,2014-11-02 10:47:47

In [66]:
sites = ['site%s' % i for i in range(1,11)] #генерим список сайеов от  1 до 10

full_sites = full_df[sites] # новый DATA  FRAME
full_sites10 = full_sites
full_sites10

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947
242171,952,947,953,946,947,946,953,955,946,947
57157,953,947,946,953,955,947,953,946,953,1033
240201,946,947,954,953,946,954,946,956,957,956
210686,946,956,946,946,955,954,946,946,946,948
98804,948,946,948,784,49,53,812,982,52,52
113494,52,52,52,747,747,747,23,747,568,23
223837,513,1116,747,23,747,747,29,49,52,21
145475,4222,3358,4222,3356,4222,3870,21,3870,3358,21
186633,38667,181,23,181,38667,23,182,181,38667,55
45193,56,55,679,676,814,22,39,815,752,50
102930,570,23,21,3356,48,222,570,513,1379,21
15789,820,820,980,49,56,55,49,784,222,50
205868,48,56,55,55,0,0,0,0,0,0
21102,5898,5898,5794,21,5794,5794,21,182,23,181
193454,2570,2570,21,21,1102,1102,23,570,707,21
252924,22,39,1102,21,1102,1102,1102,21,177,175
12713,177,178,175,48,21,22,176,175,177,55
182016,56,55,570,570,1038,847,22,774,570,0
55750,56,55,0,0,0,0,0,0,0,0
237109,56,55,55,1038,52,53,21,4277,21,4277
120126,4277,342,733,733,733,733,733,23,733,733
140105,733,49,17232,50,48,52,23,21,989,38
129357,753,532,1020,989,1021,1021,48,990,544,22
136699,733,733,733,733,733,733,17232,989,17232,21
113189,38668,733,733,733,733,733,568,21,1126,52
...,...,...,...,...,...,...,...,...,...,...
82768,1202,1202,1202,1202,302,1220,300,302,1222,1221
82769,883,884,5256,5260,0,0,0,0,0,0
82770,678,775,678,775,678,775,678,775,678,775
82771,23695,23695,23695,23695,23695,23695,23695,23695,23695,23695
82772,33,5392,35,5392,5403,5392,29,5845,1349,22
82773,270,167,167,812,167,359,39,676,812,270
82774,1102,21,22,39,5563,56,55,570,570,18996
82775,3393,3393,3393,335,29,33,30,35,29,37
82776,122,134,134,132,2428,132,140,30,29,29
82777,301,48,76,32,29,33,301,75,29,301
82778,1086,1086,1086,269,1086,6,4954,14906,35,29
82779,300,300,302,302,302,300,302,302,1202,300
82780,66,63,21,21,23,21,22,23,21,21
82781,3996,3413,3996,3605,3324,3322,3606,3607,3996,3606
82782,32,30,33,44651,22,29,35,44651,44651,44651
82783,747,38,23,513,747,747,23,749,747,52
82784,5598,5598,5598,5598,5598,5598,5598,984,5598,5598
82785,22,814,570,812,23,677,677,812,570,1039
82786,786,786,782,786,782,786,786,782,782,23
82787,6801,6801,22,23,812,6801,39,6801,22,6801
82788,69,67,301,301,21,21,21,21,21,22
82789,30,19394,33,19386,19396,19396,19386,19386,19402,22
82790,167,359,167,204,3,811,203,884,5256,883
82791,677,774,677,616,570,677,616,677,570,677
82792,63,3346,167,3,167,45064,45065,384,23,3346
82793,812,1039,676,0,0,0,0,0,0,0
82794,300,302,302,300,300,1222,302,1218,1221,1216
82795,29,33,35,22,37,6779,30,21,23,6780
82796,5828,23,21,804,21,3350,23,894,21,961
82797,21,1098,1098,1098,1098,1098,1098,1098,1098,1098

In [6]:
from scipy.sparse import csr_matrix
## последовательность с индексами
sites_flatten = full_sites10.values.flatten() #  [  56.   55.   nan ... 1098. 1098. 1098.] делает один общ список

# искомая матрица  flatten запихивает масив м строку(но массив одинарный) F порядок записи первые элементы потом вторые
full_sites_sparse = csr_matrix(([1] * sites_flatten.shape[0], # [55.0] * 3363580 количество элементов записсанные в строку
                                ## [1, 1, 1,... 1, 1, 1, 1]
                                sites_flatten,# САМ МАСИВ
                                range(0, sites_flatten.shape[0] + 10, 10)))[:, 1:]#от 0 10 20 30 40 до 3363590 с шагам 10 
                                # [:, 1:]# весь второй столбец и того
    #[1, 1, 1,... 1, 1, 1, 1] , 3363580 , [0, 10, 20..336590] , и второй столбец
#print(full_sites_sparse)

#print(full_sites_sparse)
#full_sites_sparse.toarray()
#x_train_shape = full_sites_sparse[:idx_split]
#x_test_shape = full_sites_sparse[idx_split]
#sparse = csr_matrix(matri)
#sparse.shape
#full_sites_sparse

In [39]:
 from sklearn.feature_extraction.text import CountVectorizer

In [73]:
cv = CountVectorizer()

In [90]:
t_train = cv.fit_transform(train_df[sites])
y_test = cv.transform(test_df[sites])
#print(t_train.shape, y_test.shape)
cv.fit_transform(train_df[full_sites])

ValueError: Must pass DataFrame with boolean values only

In [189]:
sites_flatten[0]*sites_flatten.shape[0]
sites_flatten.shape[0]   
datar = np.arange(1,11)
[1]*datar.shape[0]
a =range(0,datar.shape[0]+10 , 10)
[1]*datar.shape[0]
datar.shape[0]
type(a)
#vv = csr_matrix(([1] * datar.shape[0], # [55.0] * 3363580 количество элементов записсанные в строку
                                ## [1, 1, 1,... 1, 1, 1, 1]
#                                datar,
                                
#                ))#от 0 до 3363590 с шагам 10

range

In [64]:

def get_auc_lr_valid(x, y, C=1.0, ratio = 0.9, seed=17):
    '''
    X, y – выборка
    ratio – в каком отношении поделить выборку
    C, seed – коэф-т регуляризации и random_state 
              логистической регрессии
    '''
   
    train_len = int(ratio * x.shape[0]) #90 процентов выборки от исхода index[0] пока х его но это хитрая матрица
   # t_train = x[:train_len]
    x_train = x[:train_len,:]
    x_valid = x[train_len:,:]# : означает что мы берем все признаки
    y_train = y[:train_len]
    y_valid = y[train_len:]
    logit = LogisticRegression(C=C,n_jobs=1,random_state=seed,)
    logit.fit(x_train, y_train)
    valid_pred = logit.predict_proba(x_valid)[:,1]# отличае от predict то что выдает предсказан вероятности а не метки 0 и 1
            # [:,1] это второй столбец со значениями + то что это элис
#    valid_pred = logit.predict(x_valid)# отличае от predict то что выдает предсказан вероятности а не метки 0 и 1
    return roc_auc_score(y_valid, valid_pred) # провер на сколько точен прогноз в виде вероятности roc_auc

#print(x_train_shape)    
#print(x_train_shape)
#print(x_train_shape[:1])

In [197]:
logit = LogisticRegression(n_jobs=1, random_state=17)
logit.fit(x_train_shape,y_train)
    
#
#logit.predict_proba(x_train_shape[:15,:])[:,1]# так покажет первые 15 и где вераятность ближе к 1
rrr = logit.predict_proba(x_train_shape)[:,1]# так покажет первые 15 и где вераятность ближе к 1   # [:,1]вероятность того что это Alice
rrr =get_auc_lr_valid(x_train_shape, y_train)

In [198]:
new_feat_train = pd.DataFrame(index = train_df.index) # Берет фрэим train_df и заберает только индексы
new_feat_test = pd.DataFrame(index = train_df.index) # Берет фрэим train_df и заберает только индексы
new_feat_train.head(3)

Empty DataFrame
Columns: []
Index: [21669, 54843, 77292]

In [201]:
new_feat_train['year_month'] = train_df['time1'].apply(lambda ts:100*ts.year+ ts.month)# короч к году *100 + месяц 1 = 20130 +1 = 201301
new_feat_test['year_month'] = train_df['time1'].apply(lambda ts:100*ts.year+ ts.month)# короч к году *100 + месяц 1 = 20130 +1 = 201301

In [175]:
scaler = StandardScaler() # С каждого столбца вычтает среднее и делет на стандартное отклонение
scaler.fit(new_feat_train['year_month'].values.reshape(-1, 1))
new_feat_train['year_month_scaled']=scaler.transform(new_feat_train['year_month'].values.reshape(-1, 1))
new_feat_test['year_month_scaled']=scaler.transform(new_feat_train['year_month'].values.reshape(-1, 1))

In [176]:
x_train_sparse_new = csr_matrix(hstack([x_train_shape, new_feat_train['year_month_scaled'].values.reshape(-1, 1)]))
get_auc_lr_valid(x_train_sparse_new, y_train)

c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9196935128594357

In [177]:
x_train_shape.shape, new_feat_train.values.reshape(-1,1).shape

((253561, 48371), (507122, 1))

# Log Regresion on CounteVector

In [8]:
from sklearn.model_selection import cross_val_score
from  sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()  

with open('train_text.txt') as inp_train_file:
    tr_train = vectorizer.fit_transform(inp_train_file)
  
with open('test_text.txt') as inp_test_file:
    ts_test = vectorizer.transform(inp_test_file)    

print(tr_train.shape, ts_test.shape)

(253561, 41592) (82797, 41592)

In [303]:
def write_to_submiss_file(predict_labels, out_file,target='target',index_label='session_id'):
    predicted_df = pd.DataFrame(predict_labels, index = np.arange(1, predict_labels.shape[0]+1),columns=[target])
    predicted_df.to_csv(out_file, index_label= index_label)

In [9]:
yy_train = train_df['target'].astype('int')

In [10]:
logit1 = LogisticRegression(C=1,random_state=17)

In [11]:
sc_score =cross_val_score(logit1, tr_train, yy_train, cv=5, scoring='roc_auc')

c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [12]:
sc_score.mean()

0.8851554065765168

In [251]:
logit1.fit(tr_train, yy_train)

c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=17, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [301]:
test_predict_lofReg = logit1.predict_proba(ts_test)[:,1]# [:,1]вероятность того что это Alice
test_predict_lofReg

array([2.42986455e-03, 5.10600105e-09, 1.88419120e-08, ...,
       8.84323536e-03, 4.74556494e-04, 2.26304918e-05])

In [304]:
#len(test_predict_lofReg)
write_to_submiss_file(test_predict_lofReg, 'logit_submit.txt')

# add features time

In [311]:
from scipy.sparse import hstack

In [405]:

def add_time_fetures(time1_sirees, x_sparse):
    hour = time1_sirees.apply(lambda ts: ts.hour) # час от 0 до 23
    morning =((hour>=6) & (hour <= 11)).astype('int')
    day =((hour>=12) & (hour <= 18)).astype('int')
    evening =((hour>=18) & (hour <= 0)).astype('int')
    night =((hour>=1) & (hour <= 4)).astype('int')
    X = hstack([x_sparse,
                morning.values.reshape(-1,1),
                day.values.reshape(-1,1),
                evening.values.reshape(-1,1),
                night.values.reshape(-1,1)])
    return X

In [406]:
x_tr_with_tim1 = add_time_fetures(train_df.time1.fillna(0),tr_train)

In [337]:
logitTime1 = LogisticRegression(C=1.9,random_state=17)

In [346]:
sc_score_time =cross_val_score(logitTime1, x_tr_with_tim1, yy_train, cv=5, scoring='roc_auc')

c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [347]:
sc_score_time.mean()

0.9306763159423495

In [348]:
logitTime1.fit(x_tr_with_tim1,yy_train)

c:\users\helg\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.9, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=17, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [349]:
test_time1_predict_lofReg = logitTime1.predict_proba(x_ts_with_tim1)[:,1]
test_time1_predict_lofReg

array([3.32117418e-05, 1.22199899e-08, 6.53345442e-09, ...,
       2.16053917e-04, 5.70165335e-06, 2.04523332e-07])

In [350]:
write_to_submiss_file(test_time1_predict_lofReg, 'logit_ti_submit.txt')

## all time

In [417]:
%%time
x_tr_with_tim12 = add_time_fetures(train_df.time2.fillna(0),tr_train)
x_ts_with_tim12 = add_time_fetures(test_df.time2.fillna(0), ts_test)
print(x_tr_with_tim1.shape, x_ts_with_tim1.shape)

AttributeError: 'int' object has no attribute 'hour'

In [ ]:
u = train_df.time1.apply(lambda ts: ts.hour)
for i in u:
    if  ((u>=6) & (u <= 11)) :
    print(u)

In [279]:
 np.arange(6).reshape(-1,1) # Делает столбец векторный

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])